<button (click)="pingApi()">Ping API</button>

<pre *ngIf="labels">
<code>{{ responseJson | json }}

  <div class="container">

    <h1>Record Labels</h1>

    <table class="table table-striped">

      <thead>

          <tr>

            <th>ID</th>

            <th>Name</th>

            <th>Phone Number</th>

            <th>Web Addres</th>

            <th>email</th>

          </tr>

      </thead>

      <tbody>

        <tr *ngFor="let label of labels">

          <td>{{ label.id }}</td>

          <td>{{ label.name }}</td>

          <td>{{ label.phoneNumber }}</td>

          <td>{{ label.url }}</td>

          <td>{{ label.email }}</td>

        </tr>

      </tbody>

    </table>

  </div>

</code>
</pre>
